<%= button_to "Logout", session_url, method: :delete %>

<div class="root"></div>

 <%= react_component 'Lists', { data: @lists } %>

<script type="text/javascript">
  USER = {
    id: <%= current_user.id %>,
    username: '<%= current_user.username %>'
  };
</script>
