<%= button_to "Logout", session_url, method: :delete %>

<div class="root"></div>

<script type="text/javascript">
  USER = {
    id: <%= current_user.id %>,
    username: '<%= current_user.username %>'
  };
</script>
